{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalise.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/simplegrid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="body-content">
	<div class="col-3-12"></div>
	<div id="navbar-container" class="col-9-12">
		<div id="navbar">
			<ul><li><a href="{% url 'index' %}">Home</a></li><li><a href="{% url 'discover' %}">Discover</a></li></ul>
		</div>
		<div id="banner" class="col-1-1">		
		</div>
		<div id="statusbar" class="col-1-1">
			<ul>
				<span id="statusbar-links"><li><a id="status-spitt" href="#">Spitts<br/>{{user.account.spitt_set.count}}</a></li><li><a id="status-followers" href="#">Followers<br/>{{user.account.followee_set.count}}</a></li><li><a id="status-following" href="#">Following<br/>{{user.account.follower_set.count}}</a></li></span>{% if logged_as.is_authenticated %}<li><a id="status-follow_this" class="btn right {% if is_following %}following{% endif %}" href="#">Follow</a></li>{% endif %}
			</ul>
		</div>
	</div>
	<div id="postheader">
		<div id="sidebar" class="col-3-12">			
			<img id="profileimage-img" src="{% url 'getimage' image %}">
			<p id="user-handle">@{{ user.account.handle }}</p>
			<p id="user-bio">{{ user.account.biography }}</p>
		</div>
		<div id="main" class="col-9-12">
			<div id="feed" class="box">
				{% for spitt in spitts %}
				<div class="spitt">
					<table><tr><td>
						<img src="{% url 'getimage' spitt.owner.image_set.last.identifier %}" height=50 width=50 /></td><td>				
						<p class="text-smallgrey">{{ spitt.owner.handle }} - {{ spitt.timeAgo }}</p>
						<p class="text-16px">{{ spitt.content }}</p>
					</td></tr></table>
				</div>
				{% endfor %}
				
				<div id="feed-bottom">
					<p><a href="#">Back to top</a></p>
				</div>
			</div>
			<div id="following">
				{% for followinger in user.account.follower_set.all %}
				<div class="box following-item">
				<img src="{% url 'getimage' followinger.followee.image_set.last.identifier %}" width="50px" height="50px">
				<p class="follower-name"><a href="{% url 'feed' followinger.followee.handle %}">{{ followinger.followee.handle }}</a></p>
				<p class="follower-bio">{{ followinger.followee.biography }}</p>
				</div>
				{% endfor %}
			</div>
			<div id="followers">
				{% for followers in user.account.followee_set.all %}
				<div class="box following-item">
				<img src="{% url 'getimage' followers.follower.image_set.last.identifier %}" width="50px" height="50px">
				<p class="follower-name"><a href="{% url 'feed' followers.follower.handle %}">{{ followers.follower.handle }}</a></p>
				<p class="follower-bio">{{ followers.follower.biography }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
<script src="{% static 'js/events.js' %}"></script>

</html>