{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/simplegrid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
	<div id="navbar-container-big" class="col-1-1">
		<div id="navbar" class="big">
			<ul><li><a href="{% url 'index' %}">Home</a><li><a href="{% url 'discover' %}">Discover</a></li></li></ul>
		</div>
	</div>
	<div class="col-1-1">
		<div id="login" class="box">
			<h1>Login to Spitter</h1>
			<form action="{% url 'login' %}" method="POST">
				{% csrf_token %}
				<table class="form-table">
					{{ form.as_table }}
					<tr><td></td><td><input type="submit" class="btn" value="Login"/></td><td><a id="signup-link" href="{% url 'signup' %}">Sign Up</a></td></tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>